<template>
  <!--Todo list-->
  <div>
    <input
      type="text"
      class="todo-input"
      placeholder="What needs to be done"
      v-model="newTodo"
      @keyup.enter="addTodo"
    />
    <div class="todo-items-container">
      <transition-group
        enter-active-class="animate__animated animate__fadeInUp"
        leave-active-class="animate__animated animate__fadeOutDown"
      >
        <div
          class="todo-item"
          v-for="(todo, index) in todosListFiltered"
          :key="todo.id"
        >
          <div class="todo-item-left">
            <input type="checkbox" v-model="todo.completed" />
            <div
              v-if="!todo.editing"
              @dblclick="editTodo(todo)"
              class="todo-item-label"
              :class="{ completed: todo.completed }"
            >
              {{ todo.title }}
            </div>
            <input
              v-else
              class="todo-item-edit"
              type="text"
              v-model="todo.title"
              @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)"
              @keyup.esc="cancelEdit(todo)"
              v-focus
            />
          </div>
          <div class="remove-item" @click="removeTodo(index)">&times;</div>
        </div>
      </transition-group>
    </div>
    <!-- Remaning items -->
    <div class="extra-container">
      <div>
        <label for="remainingItems"
          ><input
            id="remainingItems"
            type="checkbox"
            :checked="!anyRemaining"
            @change="checkAllTodos"
          />
          Check all</label
        >
      </div>
      <div>{{ remaining }} items left</div>
    </div>
    <!-- Filters -->
    <div class="extra-container">
      <div>
        <button
          v-bind:class="{ active: filter === 'all' }"
          @click="filter = 'all'"
        >
          All
        </button>
        <button
          v-bind:class="{ active: filter === 'active' }"
          @click="filter = 'active'"
        >
          Active
        </button>
        <button
          v-bind:class="{ active: filter === 'completed' }"
          @click="filter = 'completed'"
        >
          Completed
        </button>
      </div>
      <div>
        <transition name="fade">
          <button v-if="showClearCompletedButton" @click="clearCompleted">
            Clear completed
          </button>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoList",
  beforeEditCache: "",
  data() {
    return {
      newTodo: "",
      filter: "all",
      todosList: [
        {
          id: this.createIdForTodo(),
          title: "Lorem ipsum dolor sit amet",
          completed: false,
          editing: false,
        },
        {
          id: this.createIdForTodo(),
          title: "Consectetur adipiscing elit",
          completed: false,
          editing: false,
        },
      ],
    };
  },
  computed: {
    remaining() {
      return this.todosList.filter((todo) => !todo.completed).length;
    },
    anyRemaining() {
      return this.remaining !== 0;
    },
    todosListFiltered() {
      if (this.filter === "completed") {
        return this.todosList.filter((todo) => todo.completed);
      }
      if (this.filter === "active") {
        return this.todosList.filter((todo) => !todo.completed);
      }
      return this.todosList;
    },
    showClearCompletedButton() {
      return this.todosList.filter((todo) => todo.completed).length > 0;
    },
  },
  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
  },
  methods: {
    createIdForTodo() {
      return Math.floor(Math.random() * 1000000); // Generate random id
    },
    addTodo() {
      if (this.newTodo.trim().length === 0) {
        return;
      }

      this.todosList.push({
        id: this.createIdForTodo(),
        title: this.newTodo,
        completed: false,
        editing: false,
      });

      this.newTodo = "";
    },
    editTodo(todo) {
      this.beforeEditCache = todo.title;
      todo.editing = true;
    },
    doneEdit(todo) {
      if (todo.title.trim() === 0) {
        todo.title = this.beforeEditCache;
      }
      todo.editing = false;
    },
    cancelEdit(todo) {
      todo.title = this.beforeEditCache;
      todo.editing = false;
    },
    removeTodo(index) {
      this.todosList.splice(index, 1);
    },
    checkAllTodos(event) {
      this.todosList.forEach((todo) => (todo.completed = event.target.checked));
    },
    clearCompleted() {
      this.todosList = this.todosList.filter((todo) => !todo.completed);
    },
  },
};
</script>

<style lang="scss">
.todo-items-container {
  margin-top: 24px;
  margin-bottom: 24px;
}
.todo-input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  &:focus {
    outline: 0;
  }
  &::placeholder {
    color: #596c80;
  }
}

.todo-item {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.remove-item {
  cursor: pointer;
  margin: 8px 14px;
  padding: 8px;
  font-size: 24px;
  &:hover {
    color: black;
  }
}

.todo-item-left {
  display: flex;
  align-items: center;
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
  font-size: 18px;
}

.todo-item-edit {
  font-size: 18px;
  color: #35495e;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #cccc;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  &:focus {
    outline: none;
  }
}

.completed {
  text-decoration: line-through;
  color: #35495e;
}

.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}

button {
  font-size: 14px;
  background-color: white;
  appearance: none;
  margin-right: 8px;
  &:hover {
    background-color: #6dd49c;
  }
  &:focus {
    outline: none;
  }
}

.active {
  background: #6dd49c;
}

// Css transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
